<header class="nav_bar">
    <img id = "logo" src="/assets/popsicle.svg" />

    <div id="nav_search">
        <input type="text" id="nav_search_box" placeholder="Search"/>
        <button type="button" id="nav_search_button"><i class="fas fa-search"></i></button>
    </div>

    <button type="button" id="nav_menu_button"> + Create Quiz </button>
</header>
