<header class="nav_bar">
    <a id = "logo_link">
    <img id = "logo" src="assets/popsicle.svg" />
    <p> Quizzicle </p>
    </a>

    <div id="nav_search">
        <input type="text" id="nav_search_box" placeholder="   Search"/>
        <button type="button" id="nav_search_button"><i class="fas fa-search"></i></button>
    </div>

    <button type="button" id="create_quiz"> + Create Quiz </button>
</header>
