<div class="cell edit_card">
    <button type="button" onclick="delete_card_code(this)" class="remove_card_button clickable">x</button>
    <textarea class="edit_input edit_card_input" placeholder={{prompt}}></textarea>
    <textarea class="edit_input edit_card_input" placeholder={{answer}}></textarea>
</div>
