<div class="practice_card off_right">
    <div class ="front">
        <p class="practice_instructions">Click to show answer.</p>
        <p>{{prompt}}</p>
    </div>

    <div class="back">
        <p class="practice_instructions">Click to show prompt.</p>
        <p>{{answer}}</p>
    </div>
</div>
