<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    
    <script src="/newCardTemplate.js" charset="utf-8" defer></script>
    <script src="/create.js" charset="utf-8" defer></script>
    {{#each scripts}}
    <script src="{{file_name}}" charset="utf-8" defer></script>
    {{/each}}
</head>
<html lang="en">

{{{body}}}

</html>
