<body>

    {{> header}}

    <h1 class="error_title">Oops!</h1>
    <img id="error_image" src="assets/error.png"/>
    <p class="error_description">We couldn't find what you were looking for.</p>

</body>
