<head>
    <meta charset="utf-8" />
    <title>Quizicle</title>
    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>

    {{> header}}

    <img id = "home_page_pic" src="assets/banner.png" />

    <h4 id="card_title" class = "card_header"> Featured Quizzes</h4>

    <ul class="card_container">
    </ul>

</body>
