<body>

    {{> header}}

    <img id = "home_page_pic" src="assets/banner.png" />

    <div class="content_container">
        <h4>Featured Quizzes</h4>
    </div>
    <div class="full_width_contrast_container">
        <div class="content_container">
            {{#each recents}}
                {{> preview}}
            {{/each}}
        </div>
    </div>

</body>
