<body>

    {{> header}}

    <div class="quiz">
        <div class="quiz_top">
            <img id = "home_page_pic" src="assets/banner.png" />
        </div>

        <div class="question-container">
            <div class="question-start">
                <h4 id="main-question"> Featured Quizzes</h4>
            </div>

            <ul class="question_container">

            </ul>

        </div>
    </div>
</body>
