<head>
    <meta charset="utf-8" />
    <title>{{name}}</title>
    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>

    {{> header}}

    <div class="quiz">
        <div class="quiz_top">
            <div class="quiz_header">
                <div class="quiz_title">
                    <h3>{{name}}</h3>
                </div>
                <div class="count">
                    <p class="num_count">{{card_count}} cards</p>
                </div>
            </div>
            <div class="quiz_info">
                <p class="description">{{description}}</p>
            </div>
            <button type="button" class="take_quiz_button">Take Quiz</button>
        </div>

        <div class="question-container">
            <div class="question-start">
                <h4 id="main-question">Questions</h4>
                <button id="edit_button">Edit</button>
            </div>

            <ul class="question_container">

                {{#each cards}}
                  {{> card}}
                {{/each}}

            </ul>

        </div>
    </div>
</body>
