<head>
    <meta charset="utf-8" />
    <title>{{name}}</title>
    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>

    {{> header}}

    <div class="content_container quiz_header">
        <h3 class="quiz_title">{{name}}</h3>
        <p class="num_count">{{card_count}} cards</p>
        <p class="quiz_description">{{description}}</p>
        <button type="button" class="practice_button"> Practice</button>
    </div>

    <div class="content_container">
        <h4>Questions</h4>
        <button id="edit_button">Edit</button>
    </div>

    <div class="full_width_contrast_container">
        <ul class="content_container card_container">
          {{#each cards}}
            {{> card}}
          {{/each}}
        </ul>
    </div>

</body>
