<body>

    {{> header}}

    <div class="content_container quiz_header">
        <h3 class="quiz_title">{{name}}</h3>
        <p class="num_count">{{card_count}} cards</p>
        <p class="quiz_description">{{description}}</p>
        <button type="button" class="practice_button"> Practice</button>
    </div>

    <div class="content_container">
        <h4>Questions</h4>
        <button id="edit_button">Edit</button>
    </div>

    <div class="full_width_contrast_container">
        <ul class="content_container card_container">
          {{#each cards}}
            {{> card}}
          {{/each}}
        </ul>
    </div>

    <div class="practice_quiz_container hidden">
       <div class="practice_card hidden">
           <button type ="button" class ="modal_close_button"> Exit </button>

           <p class = "practice_instructions"> Click to flip </p>
           <p class = "practice_info">Oregon</p>

           <button type ="button" class ="modal_button modal_previous_button"> < </button>
           <button type ="button" class ="modal_button modal_next_button"> > </button>

           <p class = "card_counter"> ##/## </p>

       </div>
   </div>


</body>
