<body>

    {{> header}}

    <div class="content_container quiz_header">
        <h3 class="quiz_title">{{quiz.name}}</h3>
        <p class="num_count">{{quiz.card_count}} cards</p>
        <p class="quiz_description">{{quiz.description}}</p>
        <button type="button" class="practice_button"> Practice</button>
    </div>

    <div class="content_container">
        <h4>Questions</h4>
    </div>

    <div class="full_width_contrast_container">
        <ul class="content_container card_container">
          {{#each quiz.cards}}
            {{> card}}
          {{/each}}
        </ul>
    </div>

</body>
