<body>
    {{> header }}
    {{#unless no_result}}
        <div class="search_result_container">
            <p>Search Results for "{{query}}" </p>
            {{#each search_results}}
                {{> preview}}
            {{/each}}
        </div>
    {{/unless}}
    {{#if no_result}}
        <p>No results for "{{query}}"</p>
        <img id="error_image" src="assets/error.png"/>
    {{/if}}
</body>