<body>
    {{> header }}
    {{#unless no_result}}
        <p class="result_dialog">Search Results for "{{query}}" </p>
        <div class="content_container">
            {{#each search_results}}
                {{> preview}}
            {{/each}}
        </div>
    {{/unless}}
    {{#if no_result}}
        <p class="result_dialog">No results for "{{query}}"</p>
        <div class="content_container"></div>
            <img id="error_image" src="assets/error.png"/>
            <p class="error_description">Nothing...</p>
        </div>
    {{/if}}
</body>