@import url('https://fonts.googleapis.com/css?family=Quicksand:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
    --brand-color: #F96161;
    --lightbrand-color: #FF9191;
    --accent-color: #8DCAEF;
    --darkgrey: #B2B2B2; /*outline*/
    --background-subtle: #F2F2F2;
    --light-text: white;
    --dark-text: black;

    --quiz-title-font: 'Quicksand', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --button-font: 'Raleway', sans-serif;

    --max-content-width: 1300px;
}
