@import "global.css";

::placeholder{
  color: var(--light-text);
}

* {
  padding: 0px;
  border: 0px;
  border:0px;
  margin-block-start:0px;
  margin-block-end:0px;
  font-family: var(--body-font);
}

body {
  font-family: var(--body-font);
  padding: 0;
  margin: 0;
  color: var(--dark-text);
}

button {
  font-family: var(--button-font);
  background-color: var(--accent-color);
  color: var(--light-text);
  margin: 1px;
  border-radius: 8px;
  font-size: 17px;
}

ul{
  list-style-type: none;
}

h4{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: var(--button-font)
}

li p{
  width: 50%;
  height: 100%;
  padding: 10px;
}

input.nav_search_box{
  color: var(--light-text);
}

#logo{
  height:40px;
  float:left;
}

#logo_link{
  width: 200px;
  color: var(--light-text);
  text-decoration: none;
}

#brand_name{
  font-family: var(--button-font);
  margin-top: 6px;
}

#edit_button {
  width: 80px;
  position: absolute;
  top: 4px;
  right: 50px;
}

#home_page_pic{
  margin-top: 120px;
  margin-bottom: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#nav_search_box {
  padding-left: 20px;
  padding-right: 20px;
  background: var(--lightbrand-color);
  font-size: 16px;
  color: var(--light-text);
  min-width:300px;
  min-height: 30px;
  border-radius: 10px;
  padding:0 10px 0 10px;
}

#create_quiz{
  margin-top: 10px;
  margin-right: 20px;
  font-size: 16px;
  font-family: var(--button-font);
  color: var(--light-text);
  text-decoration: none;
  background: none;
  width: 200px;
  text-align:right;
}

#nav_search_button {
  color: var(--light-text);
  background: none;
}

.nav_bar {
  background-color: var(--brand-color);
  color: var(--light-text);
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  height: auto;
  padding: 10px;
}

.content_container {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  max-width: var(--max-content-width);
  margin: auto;
}

.full_width_contrast_container {
  background: var(--background-subtle);
  width: 100%;
}

.num_count {
  font-family: var(--quiz-title-font);
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: 50px;
  color: var(--darkgrey);
  font-weight: bold;
}

.quiz_description {
  margin-bottom: 20px;
}

.practice_button{
  height: 40px;
  width:90px;
  margin-bottom: 40px;
}

.quiz_title{
  font-family: var(--quiz-title-font);
  font-size: 35px;
  margin-bottom: 20px;
}

.quiz_header {
  position: relative;
  margin-top: 40px;
}

.card {
  padding: 10px;
  display: inline-flex;
  background: var(--light-text);
  margin-bottom: 15px;
  border-radius: 10px;
}

.card-divider {
    width: 2px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--background-subtle);
}

.card_container{
  padding-top: 15px;
  background: var(--background-subtle);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* These are for the styling of the 404 Page */
.error_title{
  margin-top: 140px;
  font-size: 50px;
  text-align: center;
  font-family: var(--quiz-title-font)
}

.error_description{
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

#error_image {
    display: block;
    margin: auto;
    width: 400px;
}

/* Styling Search Results*/
.search_result_container{
  display:flex-box;
  flex-direction:column;
  padding:2px;
  align-content: space-around;
  justify-content: flex-start;
}
.search_result_preview{
  background-color: lightgrey;
  border-radius: 10px;
  padding:0 20px 0 20px;
  margin:20px;
}

/* Practice Styling */
.practice_card {
    border: solid 1px #EEEEEE;
    border-radius: 20px;
    background-color: var(--light-text);
    shadow: 10px var(--dark-text);

    height: 400px;
    width: 640px;
    margin: auto;

    padding: 50px;
    display: grid;
    position: relative;
}

.practice_front {
    font-size: 40px;
    margin: auto;
}

.practice_back {
    font-size: 40px;
    margin: auto;
}

.practice_quiz_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #F2F2F2;
  display: grid;
}

.modal_close_button {
  position: absolute;
  height: 25px;
  width: 100px;
  right: 20px;
  top: -40px;
  font-size: 15px;
}

.modal_button{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: darkgrey; /* change to variable */
}


.modal_previous_button{
  position: absolute;
  left: -100px;
  top: 50%;
}

.modal_next_button{
  position: absolute;
  right: -100px;
  top: 50%;
}

.practice_instructions{
  position: absolute;
  top: 5px;
  width: 740px;
  text-align: center;
}

.card_counter{
  position: absolute;
  bottom: -35px;
  width: 740px;
  text-align: center;
}
.hidden{
  visibility: hidden;
}
