@import "global.css";

::placeholder{
  color: var(--light-text);
}
* {
  padding: 0px;
  border: 0px;
  border:0px;
  margin-block-start:0px;
  margin-block-end:0px;
}

body {
  font-family: var(--body-font);
  padding: 0;
  margin: 0;
  color: var(--dark-text);
}

button {
  font-family: var(--button-font);
  background-color: var(--accent-color);
  color: var(--light-text);
  margin: 1px;
  border-radius: 8px;
  font-size: 17px;
}

ul{
  list-style-type: none;
}

li p{
  width: 50%;
  height: 100%;
  padding: 10px;
  border: 1px solid var(--background-subtle);
}

input.nav_search_box{
  color: var(--light-text);
}

#logo{
  float:left;
}

#logo_link{
  width: 200px;
}

#card_title{
  font-size: 24px;
  font-family: var(--button-font)
}

#edit_button {
  width: 50px;
  position: absolute;
  right: 50px;
}

#logo{
  height:40px;
}

#home_page_pic{
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 200px;

}

#nav_search{
  align-content:center;
}

#nav_search_box {
  background: var(--lightbrand-color);
  color: var(--light-text);
  min-width:300px;
  min-height: 30px;
  border-radius: 10px;
}

#create_quiz{
  background: none;
  width: 200px;
  text-align:right;
}

#nav_search_button {
  color: var(--light-text);
  background: none;
}

.nav_bar {
  background-color: var(--brand-color);
  color: var(--light-text);
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  height: auto;
  padding: 10px;
}

.content_container {
  margin: 50px;
}

.num_count {
  position: absolute;
  top: 0px;
  right: 0px;
  color: var(--darkgrey);
  font-weight: bold;
}

.practice_button{
  width:90px;
}

.quiz_title{
  font-family: var(--quiz-title-font);
  font-size: 35px;
}


.quiz_header {
    position: relative;
}

.card {
  background: var(--light-text);
  display: inline-flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-content:flex-start;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

.card_header{
  padding-left: 50px;
  display: flex;
  position: relative;
  background: var(--light-text);
}

.card_container{
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  background: var(--background-subtle);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* These are for the styling of the 404 Page */
.error_title{
  margin-top: 10%;
  font-size: 50px;
  text-align: center;
  font-family: var(--quiz-title-font)
}

.error_description{
  font-size: 24px;
  text-align: center;
}
