@import "colors.css";

body {
     font-family:'Segoe UI', 'Helvetica';
     padding: 0;
     margin: 0;
     color: black;
     background: var(--backgroundgrey);

}
li p{
  width: 50%;
  height: 100%;
  margin: 0px;
  padding: 10px;
  border: 1px solid var(--backgroundgrey);

}
button {
     background-color: var(--accent-color);
     color: white;
     color: var(--color-txt);
     margin: 1px;
     border: 0px;
     border-radius: 8px;
}

ul{
  list-style-type: none;
  padding: 0px;
}

input.nav_search_box{
  color: white;
}
.quiz_title{
  font-size: 30px;
}
.count {
     display: flex;
     color: var(--darkgrey);
     font-weight: bold;
}
.count p{
  padding:2px;
}

.nav_bar {
     background-color: var(--brand-color);
     color: white;
     flex: 1;
     display: flex;
     justify-content: space-between;
     font-size: 26px;
     height: auto;
     padding: 10px;
}
#quiz_icon{
     height:26px;
}
#nav_search{
     align-content:center;
}

#nav_search_box {
     background: var(--lightbrand-color);
     color: black;
     border: 0px;
     min-width:300px;
     min-height: 30px;
     border-radius: 10px;
}
#nav_menu_button{
     border:0;
     background: none;
}
#nav_search_button {
     border: 0;
     color: white;
     background: none;
}

.quiz_top{
  margin: 0px;
  padding: 50px;
  border-radius: 0px;
  text-align: bottom;
  background: white;
}
.quiz {
     /* padding: 50px; */
     display:flex;
     flex-direction: column;
     /* justify-content: center; */
     height:auto;



}
.quiz_header {
     display: flex;
     justify-content: space-between;
     /* align-content: center; */
     width: auto;
     margin: 0px;
     padding: 0px;
     border:0px;

}

/* .num_count {
      padding-right: .5em;
      margin:0;
}
#count_suffix{
     margin:0;
}*/
/* .tag_container{
     display:flex;
     flex-direction:row;
     list-style-type:none;
     padding:0;
     margin:0;
}
.tag{
     border:2px solid var(--color-3);
     color:var(--color-3);
     justify-content:flex-start;
     margin: 0 2px 0 2px;
     padding: 2px;
}
.quiz_credit{
     font-size:18px;
     display:flex;
     flex-direction:row;
}
.user_handle{
     text-decoration:none;
     padding: 0 4px 0 4px;
} */
.take_quiz_button{
     width:100px;
}

.question-start{
  width: 100%;
  padding: 0px;
  padding-left: 50px;
  margin: 0px;
  display: flex;
  align-items: center;
  background: white;

}
.question_container{
     /* margin-top: 30%; */

     padding: 15px;
     padding-left: 50px;
     padding-right: 50px;
     margin: 0px;
     background: var(--backgroundgrey);
     display: flex;
     flex-direction: column;
     justify-content: space-between;

}

.question {
     background: white;
     display: inline-flex;
     padding: 20px;
     flex-direction: row;
     justify-content: space-between;
     align-content:flex-start;
     margin: 0px;
     padding: 0px;
     margin-bottom: 15px;
}
#main-question{
    font-size: 24px;
}
#edit_button {
     width: 50px;
     float: right;
     height: 20px;
     margin-left: 20px;

}
